.MovieItemsItem {
    margin-bottom: 3px;
    text-shadow: 1px 1px 1px lightgrey;
}

.MovieItemsItem:hover {
    color: blue;
}

.MovieItemsLink {
    text-decoration: none;
    color: grey;
}

.MovieItemsLink:hover {
    color: #000;
}